#footer {
	position: relative;
	padding: 5px;
	color: #999;
	font-weight: bold;
	font-size: 10px;
}

	#footer a {
		color: #666;
	}

	#footer #left {
		float: left;
	}

	#footer #right {
		float: right;
	}