#footer {
	position: relative;
	width: 880px;
	margin: 0 auto;
	padding: 15px;
	color: #999;
	font-weight: bold;
	font-size: 10px;
}
	#footer a {
		color: #999;
	}
	#footer #left {
		float: left;
	}
	#footer #right {
		float: right;
	}
