#header {
	background-color: #A4BCA2;
}

#logo {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#navigation {
	background-image: url(/images/header_background.png);
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

	#navigation #links {
		float: right;
		font-size: 14px;
		color: #999;
		margin-top: 5px;
	}
	
	#navigation #links a {
		color: #fff;
		letter-spacing: 0.5px;
	}
	
#subNavigation {
	background-color: #777;
	border-bottom: 2px solid #ccc;
}

	#subNavigation #locate {
		float: left;
		width: 159px;
		height: 40px;
		border-right: 1px solid #ccc;
	}

	#subNavigation #locateIcon {
		float: left;
		margin: 5px 0 0 15px;
	}
	
	#subNavigation #locateText {
		float: left;
		margin-top: 15px;
	}
	
		#subNavigation #locateText a {
			font-size: 14px;
		}
	
	#subNavigation #activities {
		float: left;
		width: 160px;
		height: 40px;
	}
	
	#subNavigation #foodIcon {
		float: left;
		margin: 5px 0 0 15px;
	}
	
	#subNavigation #activitiesText {
		float: left;
		margin-top: 15px;
	}
	
		#subNavigation #activitiesText a {
			font-size: 14px;
		}

	#subNavigation a {
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		margin-left: 20px;
	}

	#subNavigation .selected {
		background-color: #8dc2f3;
	}