#header {
	background-color: #efefef;
}

#logo {
	float: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#navigation {
	background-image: url(/images/navigation.png);
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

	#navigation #links {
		font-size: 10px;
		margin-left: 10px;
		float: right;
		font-size: 14px;
	}
	
#subNavigation {
	background: #777;
	border-bottom: 2px solid #ccc;
	height: 40px;
}
	#subNavigation a {
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		margin-left: 20px;
	}
	#subNavigation a:hover {
		color: #f9d33d;
	}

#subNavigationLinks {
	padding-top: 13px;
}
	#subNavigationLinks .selected {
		color: #8dc2f3;
	}