.place {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ababab;
	font-size: 12px;
	color: #666;
}

	.place .icon {
		float: left;
		margin-right: 5px;
	}

	.place .meta {
		float: left;
		line-height: 18px;
	}
	
	.place .meta a {
		color: #FF9900;
		font-size: 14px;
		letter-spacing: 0.5px;
		font-weight: bold;
	}

	.place .address {
		color: #333;
	}