.review {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ababab;
	font-size: 12px;
	color: #666;
}

	.review .avatar {
		float: left;
		margin-right: 5px;
	}
	
	.review .meta {
		float: right;
		width: 250px;
		line-height: 20px;
	}

#text_area_div {
	background-color: #efefef;
	padding: 5px;
}

#menu_item_text_area {
	width: 280px;
	height: 50px;
	font-size: 14px;
	padding: 5px;
}