body {
	background-color: #E8E8E2;
}

h1 {
	color: #174578;
	margin: 0;
	padding: 5px 0;
}

h2 {
	color: #174578;
	margin: 0;
	padding: 5px 0;
}

h3 {
	color: #174578;
	font-family: "Myriad", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana;
	font-size: 20px;
	margin: 0;
	padding: 7px 0;
	border-bottom: 1px solid #EEEEEE;
}

h4 {
	color: #174578;
	font-size: 12px;
	margin: 0;
	padding: 3px 0;
}

#container {
	position: relative;
	margin: 0 auto;
	background-color: #fff;
}

#content {
	padding: 10px;
}