<div id="footer">
	<p>
		<%= link_to 'Follow @eatdrinkit on twitter', 'http://www.twitter.com/eatdrinkit', :target => '_new' %>
	</p>
	
	<div>
		&copy; <%= Date.today.year %> EatDrink.it. All rights reserved.
	</div>
</div>