<div id="mainNavigation">
	<div id="navigationLinks">
		<%= link_to 'Home', root_url, { :class => (params[:controller] == 'home' ? 'selected' : '') } %>
	</div>
	
	<% if current_user %>
		<div style="float: right; padding: 10px;">
			<%= link_to current_user.email, edit_user_path(current_user) %> |
			<%= link_to 'Logout', logout_path %>
		</div>
	<% end %>

	<div style="clear: both;"></div>
</div>