<div id="mainNavigation">
	<div id="navigationLinks">
		<%= link_to 'Home', root_url, { :class => (params[:controller] == 'home' ? 'selected' : '') } %>
	</div>

	<div style="clear: both;"></div>
</div>