<h1>FAQ</h1>

<p>
	What is EatDrink.it?
</p>

<p>
	EatDrink.it is a restaurant mobile web application built over the Foursquare API, allowing users to review meals at any restaurant venue in the Foursquare catalog.  
	How do I use EatDrink.it?
</p>

<p>
	Sign up for an account at www.eatdrink.it 
	And once I have an account, then what?
</p>

<p>
	Currently EatDrink.it is for use as a mobile site. Using your GPS-enabled mobile device, access www.eatdrink.it from the mobile web. This site will automatically provide you with local restaurant venues based on your location.
</p>

<p>
	Once you select a location, you can choose to view other users' reviews on menu items or you can enter your own review of a menu item, which can include what you ate and if you liked or disliked it.
</p>

<p>
	Once your review is posted and you revisit a location, you can see what you had there and how you reviewed it.
</p>

<p>
	How does EatDrink.it gather venue info?
</p>

<p>
	All venue information is gathered using a combination of the Foursquare catalog. Within the very near future, users will be able to add new venues through EatDrink.it mobile web application.
</p>

<p>
	Is EatDrink.it the same as Foursquare or other Location Based Services (LBS)?
</p>

<p>
	While EatDrink.it uses venue information pulled from Foursquare, EatDrink.it is more focused on sharing menu item reviews.
</p>

<p>
	How else can I connect with EatDrink.it?
</p>

<p>
	Follow us on twitter (hyperlink: www.twitter.com/eatdrinkit) and like us on Facebook (hyperlink: http://www.facebook.com/pages/WaitMate/165135513518106?v=wall#!/pages/Eatdrinkit/117972351600632) 
</p>

<p>
	How was EatDrink.it started?
</p>

<p>
	The project was initially created over a 54 hour work session as part of Startup Weekend Indianapolis in November 2010.
</p>