<p>
	<%= link_to 'Back to Place', '#', :onclick => 'history.go(-1); return false;' %>
</p>

<div>
	<b><%= @place['name'] %></b>
</div>

<p>
	<%= @review.menu_item %>
</p>

<div>
	<%= link_to 'Back to restaurant', '#' %>
</div>