<h1>Finding your location...</h1>

<%= image_tag '/images/loading.gif' %>

<% form_tag '/places/results', :id => 'location' do %>
  <%= hidden_field :location, :latitude %>
  <%= hidden_field :location, :longitude %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	var location;
	var result;
	
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			$("#location_latitude")[0].value = position.coords.latitude;
			$("#location_longitude")[0].value = position.coords.longitude;
  			$("#location").submit();
		});
  	} else {
  		alert("Uh oh! Your browser won't allow us to get your location.");
  	}
});
</script>