<h1>Finding your location...</h1>

<%= image_tag '/images/loading.gif' %>

<% form_tag '/places/results', :id => 'location' do %>
  <%= hidden_field :location, :latitude %>
  <%= hidden_field :location, :longitude %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	var location;
	var result;
	
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(
		  function(position) {
			  $("#location_latitude")[0].value = position.coords.latitude;
			  $("#location_longitude")[0].value = position.coords.longitude;
			    alert("hoop");
  			  $("#location").submit();
		  },
		  function() {
		    alert("We had an issue getting your location. Please try again later.");
		  },
		  {
		    enableHighAccuracy: true,
		    maximumAge: 20000
		  });
		  
  	} else {
  		alert("Uh oh! Your browser isn't location aware. That means we can't find you.");
  	}
});
</script>